<a href="https://colab.research.google.com/github/dinoferre/Python-para-DS/blob/main/06(07)_Selecciones_y_Frecuencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reporte de Análisis IV

## Selecciones y Frecuencias

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [3]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento

In [4]:
# Seleccione solamente los inmuebles clasificados con tipo 'Departamento'
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0]
n1

18780

In [5]:
# Seleccione los inmuebles clasificados con tipos 'Casa', 'Casa en condominio' y 'Casa de villa'
seleccion = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa en condominio') | (datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2210

In [6]:
# Seleccione los inmuebles con área entre 60 y 100 metros cuadrados, incluyendo los limites
# 60 <= Area <= 100
seleccion = (datos['Area'] >= 60) & (datos['Area'] <= 100)
n3 = datos[seleccion].shape[0]
n3

8424

In [7]:
# Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00
seleccion = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000)
n4 = datos[seleccion].shape[0]
n4

36

In [8]:
print("Nº de inmuebles clasificados con tipo 'Departamento' -> {}".format(n1))
print("Nº de inmuebles clasificados con tipos 'Casa', 'Casa en condominio' y 'Casa de villa' -> {}".format(n2))
print("Nº de inmuebles con área entre 60 y 100 metros cuadrados, incluyendo los limites -> {}".format(n3))
print("Nº de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> {}".format(n4))

Nº de inmuebles clasificados con tipo 'Departamento' -> 18780
Nº de inmuebles clasificados con tipos 'Casa', 'Casa en condominio' y 'Casa de villa' -> 2210
Nº de inmuebles con área entre 60 y 100 metros cuadrados, incluyendo los limites -> 8424
Nº de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> 36