<a href="https://colab.research.google.com/github/dinoferre/Python-para-DS/blob/main/07(03)_Creando_Rangos_de_Valor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0.0,40.0,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1.0,100.0,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0.0,150.0,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0.0,15.0,800.0,390.0,20.0
4,Departamento,Ate,1,0,0.0,48.0,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0.0,70.0,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0.0,50.0,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5.0,750.0,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0.0,65.0,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0.0,695.0,35000.0,19193.0,3030.0

In [3]:
# 1 y 2
# 3 y 4
# 5 y 6
# 7 ó más
clases = [0, 2, 4, 6, 100]

In [4]:
cuartos = pd.cut(datos.Cuartos, clases)

In [5]:
cuartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
22991    (0.0, 2.0]
22992           NaN
22993    (0.0, 2.0]
22994    (2.0, 4.0]
22995    (4.0, 6.0]
Name: Cuartos, Length: 22996, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
pd.value_counts(cuartos)

(0, 2]      8657
(2, 4]      6858
(4, 6]       485
(6, 100]      62
Name: Cuartos, dtype: int64

In [7]:
labels = ['1 y 2 cuartos', '3 y 4 cuartos', '5 y 6 cuartos', '7 cuartos ó más']

In [8]:
cuartos = pd.cut(datos.Cuartos, clases, labels = labels)

In [9]:
pd.value_counts(cuartos)

1 y 2 cuartos      8657
3 y 4 cuartos      6858
5 y 6 cuartos       485
7 cuartos ó más      62
Name: Cuartos, dtype: int64

In [10]:
cuartos = pd.cut(datos.Cuartos, clases, labels = labels, include_lowest= True)

In [11]:
pd.value_counts(cuartos)

1 y 2 cuartos      15591
3 y 4 cuartos       6858
5 y 6 cuartos        485
7 cuartos ó más       62
Name: Cuartos, dtype: int64